{% load static %}
{% include 'base.html' %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'members/members.css' %}">
</head>
<body>
    {% block content %}
        <div class="member-form">
        <div class="img-wrapper"><img class='form-logo' src="{% static 'images/logo.gif' %}" height="80px" width="80px"></div>
        <div class="header">Sign up for Cosc Events</div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'date_of_birth' %}
                        <div class="date-wrapper"><div class="label">Date of Birth</div>{{ field }}</div>
                    {% else %}
                        {{ field }}
                    {%  endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <div class="wrapper"><button type="submit" class="form-button">Sign up</button></div>
            </form>
        <div class="wrapper">
            <a class="links" href="{% url 'login' %}">Already have an account? Log in</a><br>
        </div>
        </div>
    {% endblock %}
</body>
</html>