{% include 'base.html' %}
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/events.css' %}">
{% block content %}

<div class="event-form">
  <div class="header">Create Event</div>
  <form method="post">
    {% csrf_token %}
   	{% for field in form %}
        {% if field.label == 'Hour' %}
            Start time: {{ field }} :
        {% elif field.label == 'Minute' or field.label == 'Meridiem'%}
            {{ field }}
        {% else %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
          </p>
        {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="form-button">Create Event</button>
  </form>
</div>
{% endblock %}