{% include "base.html" %}

{% block content %}
{% block head %}
<title> Events </title>
<style>
.jumbotron{
	background-color:#BFC1BD;
	color:white;
	padding-top:20px;
	border: 2px;
	border-color: #000;
	border-style: solid;
}
.jumbotron img{
	display:block;
	margin-left:auto;
	margin-right:10px;
}
.h2{
	margin-top:10px;
}
#tron:hover {
    border-color:rgba(212,31,85);
}
</style>
<script>
$('#tron').hover(function() {
    $(this).addClass('hover');
}, function() {
    $(this).removeClass('hover');
});
</script>
{% endblock %}


<br />

<main role="main" class="container">
	<div class="row">
		<div class="col-md">
			

			<!-- Iterates through the events -->
			{% for event in events %}
			
			<a href= "/events/{{ event.id }}" style="text-decoration: none;" class="btn-default btn-lg" role="button">
			<div class="jumbotron" id="tron">
			
			<p> <img src="{{ event.image_link }}" class="rounded float-left" alt="Event Image" align="left" height="200" width="200"></p>
			<p><i> {{ event.start_date }}</i></p>
			<h2>  <b>  {{ event.title }}</b></h2>
			<p>  {{event.description }} </p>
			</div>
			</a>
			
			
			{% empty %}
			<h1>No Events to display. Please check back later.</h1>
			{% endfor %}
			
		</div>

	</div>
</main>
{% endblock content %}



