{% include 'base.html' %}
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/events.css' %}">
    <script src="{% static 'js/age.js' %}"></script>
{% block content %}

<div class="event-form">
  <div class="header">Create Event</div>
  <p>All links must be in http format </p>
  <form method="post">
    {% csrf_token %}
   	{% for field in form %}
        {% if field.label == 'Hour' %}
            Start time: {{ field }} :
        {% elif field.label == 'Minute' or field.label == 'Meridiem'%}
            {{ field }}
        {% elif field.label == 'Age Requirement'%}
            {{ field.label_tag }}<br>
            {{ field }}<div class="append-age" style="display: inline"></div>
        {% else %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
          </p>
        {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="form-button">Create Event</button>
  </form>
</div>
{% endblock %}

<script>
    ageReq()
</script>