{% include "base.html" %}
{% load static %} 
{% block content %}
{% block head %}
<title> Events </title>
<style>

.jumbotron{
	background-color:#ffffff;
	color:#212529;
	padding-top:20px;
	padding-bottom:80px;
	border: 2px;
	border-color: #dfe0e1;
	border-style: solid;
}


.jumbotron:hover{
    border-color: #d41f55;
}

.jumbotron img{
	display:block;
	margin-left:auto;
	margin-right:10px;
}
.h2 {
    margin-top: 10px;
}
</style>
{% endblock %}


<br />

<main role="main" class="container">
	<div class="row">
		<div class="col-md">
			{% if user.is_staff %}
				<br>
				<a href= "create/" class="btn-lg btn-info" role="button">Create Event</a>
				<br>
				<br>
			{% endif %}			

			<!-- Iterates through the events -->
			{% for event in events %}


			
			<div class="jumbotron" id="tron" style="cursor: pointer;" onclick="window.location='/events/{{ event.id }}';">
			<p><img src="{{ event.image_link }}" onerror="this.onerror=null;this.src='{% static 'images/logo.gif'%}';" class="rounded float-left" align="left" alt="Event Image" height="200" width="200"></p>



			<p><i> {{ event.start_date }}</i></p>
			<h2>  <b>  {{ event.title }}</b></h2>
			<p>  {{event.description|truncatechars:80 }} </p>
			</div>
			
			
			

			{% empty %}
			<h1>No Events to display. Please check back later.</h1>


			{% endfor %}
			
		</div>

	</div>
</main>
{% endblock content %}



