{% include 'base.html' %}
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/events.css' %}">
    <script src="{% static 'js/events.js' %}"></script>
{% block content %}
    <div class="event-form">
        <div class="header">Edit Event</div>
          <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.label == 'Hour' %}
                    Start time: {{ field }} :
                {% elif field.label == 'Minute' or field.label == 'Meridiem'%}
                    {{ field }}
                {% else %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                  </p>
                {% endif %}
              {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <input type="submit" class="form-button" value="Save Changes">
          </form>
    </div>
{% endblock %}

<script>
    getTime("{{ event.start_time | safe }}")
</script>