{% include "base.html" %}
{% load static %} 
{% block content %}
{% block head %}
<title> COSC CLUB </title>
{% endblock %}
<br />

<main role="main" class="container">
  <div class="row">
    <div class="col-md">
    
      {% if events %}
         {% for event in events %}
             <p><img src="{{ event.image_link }}" alt="Event Image" height="250" width="250"></p>
              <!--<p><i>{{ event.start_date }}</i></p>-->
             <h2><b><a href= "/events/{{ event.id }}" >{{ event.title }}</a></b></h2>
             <p>{{events.event_details }} </p>

              <br />
              <br />
              <br />
    






           {% endfor %}
      {% else %}
        <h1>DEFAULT HOMEPAGE</h1>
      {% endif %}

    </div>

  </div>
</main>

<div class="container text-center">    
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a href= "{% url 'events' %}"> <img src="{% static 'images/event-photo.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>EVENTS</p>
    </div>
    <div class="col-sm-4"> 
      <a href="{% url 'news' %}"><img src="{% static 'images/news-photo.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>NEWS</p>    
    </div>
    <div class="col-sm-4"> 
      <a href="{% url 'about_us' %}"><img src="{% static 'images/aboutus-photo.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>ABOUT US</p>    
    </div>
  </div>
</div><br>

{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="container text-center">    
  <br>
  <div class="row">
    <div class="col-sm-4">
      <a href= "events/create/">Create Event</a>
      
    </div>
    <div class="col-sm-4"> 
      <a href="news/create/">Create News</a>

    </div>
    <div class="col-sm-4"> 
      <a href="{% url 'about_us' %}">
        Undefined
      </a>

    </div>
  </div>
</div>

{% endif %}
{% endif %}

{% endblock content %}






