{% include "base.html" %}

{% block content %}
		{% block head %}
		<title> COSC CLUB </title>
		{% endblock %}
<br />
<!-- Iterates through the events -->
{% for event in events %}
	
	
		
		<!-- Below should probably be an unordered list instead -->

		<h2>Title: <b>{{ event.title }}</b></h2><br/><br />
		<p><b>Description: </b> Event description here</p>


		<p><b>Image: </b> <img src="{{ event.image_link }}" alt="Event Image" height="250" width="250"></p>
		
		<br />
		<br />
		<br />


{% endfor %}

<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <a href= "/events/show"> <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>EVENTS</p>
    </div>
    <div class="col-sm-4"> 
      <a href="/news/show"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>NEWS</p>    
    </div>
    <div class="col-sm-4"> 
      <a href="/aboutus"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
      <p>ABOUT US</p>    
    </div>
  </div>
</div><br>


{% endblock content %}


		
					
				
		
