{% include 'base.html' %}


		{% block head %}
		<title> {{ event.title }} </title>
		{% endblock %}


 <main role="main" class="container">
                <div class="row">
                    <div class="col-md">
{% block content %}


  <br />
  <h2>Title: <b>{{ event.title }}</b></h2>
  <hr class="my-4">
  <p><b>Start Time: </b>{{ event.start_time }}</p>
  <p><b>Start Date: </b>{{ event.start_date }}</p>
  <p><b>End Date: </b>{{ event.end_date }}</p>
  <p><b>Event Details</b> {{ event.event_details }} </p>
  <p><b>Location: </b>{{ event.location }}</p>
  <p><b>Location Details: </b>{{ event.location_details }}</p>
  <p><b>Cost:</b> {{ event.cost }}</p>
  <p><b>Age Requirement: </b>{{ event.age_requirement }}</p>
  <p><b>Event Page Link:</b> <a href="{{ event.link }}" target="_blank"> {{ event.link }}</a></p>
  <p><b>Categories:</b> {{ event.category }}</p>
  <p><b>Contact Name:</b> {{ event.event_coordinator_name }}</p>
  <p><b>Contact Email:</b> {{ event.event_coordinator_email }}</p>
  <p><b>Image: </b> <img src="{{ event.image_link }}" alt="Event Image" height="250" width="250"></p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<button type="button" class="btn btn-primary btn-lg" aria-pressed="true">
Share on Facebook
</button>
</a>
<a href="https://twitter.com/home?status=Check%20this%20out!%20{{ request.build_absolute_uri }}">
<button type="button" class="btn btn-info btn-lg" aria-pressed="true">
Share on Twitter
</button>
</a>
		
		<br />
		<br />
		<br />

  <a href="{% url 'edit_event' event.id %}">Edit Event<</a>

  <a href="{% url 'delete_event' event.id %}">delete</a>


  </div>
                    
                </div>
            </main>
{% endblock %}
