{% include "base.html" %}

{% block content %}

{% block head %}
<title> News </title>
<style>
.jumbotron{
	background-color:#ffffff;
	color:#212529;
	padding-top:20px;
	padding-bottom:80px;
	border: 2px;
	border-color: #dfe0e1;
	border-style: solid;
}

.jumbotron:hover{
    border-color: #d41f55;
}

.jumbotron img{
	display:block;
	margin-right: 10px;
	margin-left:auto;

}
.h2{
	margin-top:10px;
}
.a {
    text-decoration: none; 
    color: black; 
}
.p {
    text-decoration: none; 
    color: black; 
}
</style>
{% endblock %}

<br />

<main role="main" class="container">
	<div class="row">
		<div class="col-md">
						{% if user.is_staff %}
				<br>
				<a href= "create/" class="btn-lg btn-info" role="button">Create News</a>
				<br>
				<br>
			{% endif %}

			<!-- Iterates through the events -->
			{% for news in news %}
			
			<div class="jumbotron" id="tron" style="cursor: pointer;" onclick="window.location='/news/{{ news.id }}';">

			<p><img src="{{ news.image_link }}" class="rounded float-left" alt="news Image" align="left" height="200" width="200"></p>
			<p><i> {{ news.date }} </i></p>
			<h2><b>{{ news.title }}</b></h2>
			<p>{{ news.body|truncatechars:80 }}</p>
			
			</div>
			

			
			{% empty %}
			<h1>No News to display. Please check back later.</h1>

			{% endfor %}
		</div>

	</div>
</main>
{% endblock content %}
