{% include 'base.html' %}

{% block content %}
	
 <main role="main" class="container">
                <div class="row">
                    <div class="col-md">
  <h1>{{ news.title }}</h1>
  <img src='{{ news.image_link }}'height="250px" width="250px">
  <h2>{{ news.body }}</h2>


  {% if user.is_staff %}
  <a href="{% url 'edit_news' news.id %}">Edit</a>

  <a href="{% url 'delete_news' news.id %}">Delete</a>
  {% endif %}
  </div>
                    
                </div>
            </main>
{% endblock %}
