html, body{
    background-color: #f8f9fa;
}

.navbar {
    height: 77px;
    display: flex !important;
    flex-wrap: nowrap;
    background-color: white !important;
    border-bottom: solid 1px #dfe0e1;
}

.alert{
    position: absolute;
    left:50%;
    margin-left: -350px;
    top: 100px;
    width: 700px;
}