{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'members/preferences.css' %}">
    </head>
</head>
<body>
{% block content %}
<div class="preference-form">
    <div class="header">{{answer}}</div>
      <!-- <form action="" method="post">

      <div class="button-wrapper">
        <input type="submit" value="Update Preferences", class="form-button">
      </div>
      </form> -->
    <div class="button-wrapper">
        <a href="/"><button class="form-button">Home</button></a>
    </div>
    </div>
{% endblock %}
</body>
</html>