{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'members/preferences.css' %}">
</head>
<body>
{% block content %}
	<div class="preference-form">
		<div class="header">WARNING!</div>
			<h3><center>Entering your password below and clicking "Delete Account" will permanently delete your account!</center></h3>
			<br>
			<p>Email: {{ member.email }}</p>
			<form action="" method="post">				
			  <a class='button-link' href="{% url 'change_password' %}">**Currently linked to change password**</a>
			  <div class="button-wrapper">
				<input type="submit" value="Delete Account", class="form-button">
			  </div>
			</form>
			<br>
			{{ member.id }}
			<center><a href="{% url 'delete_user' member.id %}">Delete me</a></center>
			<center><a href="{% url 'member_profile_view' %}">Ack NO! take me back to my account!</a></center>
			<br>

{% endblock %}
</body>
</html>