{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'members/preferences.css' %}">
</head>
<body>
{% block content %}

	<div class="preference-form">
		<div class="header">WARNING!</div>
			<h3><center>Entering your password below and clicking "Delete Account" will permanently delete your account!</center></h3>
			<br>
			<p>Name: {{user.first_name}} {{user.last_name}}</p>
			<p>Email: {{ user.email }}</p>
			<form action="" method="post">				
  {% csrf_token %}
        {% for field in form %}
            {{ field }}
          {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
			 <center> <input type="submit" value="Delete Account" class="form-button"> </center>
			</form>
			<br>

			

			
			<center><a href="{% url 'member_profile_view' %}">Ack NO! take me back to my account!</a></center>
			<br>


{% endblock %}
</body>
</html>