{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'members/preferences.css' %}">
    </head>
</head>
<body>
{% block content %}
<div class="preference-form">
    <div class="header">Select what interests you.</div>
    <p> You will receive e-mails based on your preferences</p>
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
          {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
      <div class="button-wrapper">
        <input type="submit" value="Update Preferences", class="form-button">
      </div>
      </form>
    </div>
{% endblock %}
</body>
</html>