.header{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333333;
}

.preference-form{
    width: 43.750em;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    border: solid 1px #dfe0e1;
    margin: auto;
    margin-top: 6.25em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 70px;
}

.form-input{
    width: 100%;
    height: 2.25em;
    font-size: 1.25em;
    border: solid 1px silver;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.text{
    position: relative;
    top: -3px;
    font-size: 16px;
    display: inline;
    color: #333333;
    font-weight: lighter;
}

.label{
    font-size: 1.25em;
    color: grey;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline;
}

.date-input {
    margin-right: -1px;
    border: 1px solid #d3d3d3;
   	font-size: 1em;
   	color: #59595A;
   	height: 2.1em;
   	width: 7.5em;
  	padding-left: 10px;
    -moz-appearance: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkmark{
    font-size: 20px;
}

.checkmark{
    list-style: none;
    padding:0;
}

.checkmark label{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.checkmark li:hover, label:hover{
    cursor: pointer;
    background-color: #efefef;
}

.button-wrapper{
    text-align: center;
}

.form-button{
    color: white;
    height: 40px;
    width: 150px;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #d41f55;
    margin-bottom: 20px;
    margin-top: 20px;
}

button-form{
    text-decoration: none;
    text-underline: none;
}